# 신경망

In [ ]:
"""
케라스(딥러닝 프레임웤)을 이용한 점수 예측
입력 특징 : 공부 시간 , 출석 일수 , 과제 제출 횟수
출력 : 시험점수

딥러닝 프레임웤(framework) : 텐서플로우(케라스), 파이토치, 까페 ... 

"""

In [1]:
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
model = keras.Sequential([layers.Dense(units=1 , input_shape =[3])])
# units 출력 차원
# input_shape 입력 차원

In [3]:
model = keras.Sequential([
    layers.Dense(units = 4, input_shape = [2], activation = 'relu'), # input shape은 처음만, 다음부터 자동으로 인식
    layers.Dense(units = 3, activation = 'relu'),
    layers.Dense(units = 1, activation = 'sigmoid')
])

In [4]:
model.summary() # 모델의 구조
# 해석 할 줄 알아야 함.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 4)                 12

 dense_2 (Dense)             (None, 3)                 15

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 31 (124.00 Byte)
Trainable params: 31 (124.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss='mae')

In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [50]:
red_wine = pd.read_csv('red-wine.csv')

In [51]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [52]:
df_train = red_wine.sample(frac = 0.7, random_state = 20231031)

In [53]:
df_test = red_wine.drop(df_train.index)

In [54]:
len(df_test)

480

In [55]:
max_ = df_train.max()
min_ = df_train.min()

In [56]:
df_train = (df_train-min_)/(max_-min_) # 정규화 작업
df_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,0.309091,0.570248,0.25,0.171233,0.106845,0.464789,0.279152,0.485316,0.354331,0.053892,0.142857,0.4
1504,0.263636,0.214876,0.57,0.095890,0.156928,0.056338,0.021201,0.439060,0.488189,0.131737,0.535714,0.6
1269,0.081818,0.305785,0.03,0.061644,0.053422,0.380282,0.286219,0.053598,0.598425,0.293413,1.000000,1.0
1457,0.272727,0.305785,0.33,0.068493,0.103506,0.366197,0.279152,0.513216,0.527559,0.149701,0.107143,0.4
671,0.327273,0.504132,0.21,0.054795,0.103506,0.056338,0.024735,0.494126,0.362205,0.113772,0.196429,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1043,0.445455,0.223140,0.41,0.547945,0.095159,0.239437,0.116608,0.625551,0.433071,0.287425,0.446429,0.8
1130,0.409091,0.396694,0.00,0.068493,0.076795,0.056338,0.014134,0.560206,0.346457,0.179641,0.357143,0.6
363,0.718182,0.280992,0.63,0.075342,0.098497,0.070423,0.031802,0.640969,0.196850,0.323353,0.321429,0.4
386,0.290909,0.347107,0.26,0.075342,0.126878,0.309859,0.148410,0.589574,0.527559,0.245509,0.142857,0.6
1008,0.390909,0.190083,0.40,0.184932,0.163606,0.154930,0.063604,0.397944,0.385827,0.221557,0.642857,0.8

In [57]:
max_t = df_test.max()
min_t = df_test.min()
df_test = (df_test-min_t)/(max_t-min_t)
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,0.276786,0.520548,0.000000,0.131783,0.156915,0.428571,0.429577,0.544939,0.329897,0.192547,0.215385,0.4
9,0.250000,0.260274,0.473684,0.403101,0.085106,0.285714,0.676056,0.625911,0.484536,0.267081,0.323077,0.4
10,0.178571,0.315068,0.105263,0.069767,0.154255,0.250000,0.415493,0.472065,0.412371,0.105590,0.123077,0.4
16,0.339286,0.109589,0.736842,0.069767,0.140957,0.607143,0.683099,0.553036,0.432990,0.236025,0.323077,0.8
17,0.303571,0.301370,0.368421,0.062016,0.875000,0.267857,0.352113,0.544939,0.237113,0.565217,0.138462,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1581,0.133929,0.301370,0.118421,0.062016,0.037234,0.410714,0.183099,0.319838,0.680412,0.142857,0.446154,0.4
1582,0.125000,0.407534,0.131579,0.131783,0.037234,0.214286,0.147887,0.287449,0.711340,0.080745,0.538462,0.4
1587,0.098214,0.335616,0.144737,0.069767,0.071809,0.303571,0.154930,0.385425,0.690722,0.180124,0.384615,0.6
1588,0.223214,0.369863,0.434211,0.124031,0.077128,0.589286,0.676056,0.329555,0.402062,0.254658,0.676923,0.6
1591,0.062500,0.424658,0.118421,0.062016,0.132979,0.267857,0.140845,0.319838,0.814433,0.118012,0.492308,0.6

In [59]:
df_train = df_train.drop('quality',axis = 1)
df_test = df_test.drop('quality', axis = 1)

In [60]:
y_train = red_wind.loc[df_train.index]['quality']
y_test = red_wine.loc[df_test.index]['quality']

In [66]:
model =keras.Sequential([
    layers.Dense(512,activation='relu',input_shape = [11]),
    layers.Dense(512,activation='relu'),
    layers.Dense(512,activation='relu'),
    # layers.Dense(11,activation='softmax') 원핫인코딩해야함
    layers.Dense(1)
])
# 별로 이상적이지 않다

In [62]:
model.compile(optimizer = 'adam',loss = 'mae')

In [63]:
model.fit(df_train,y_train,epochs=10) # batch_size = 32

Epoch 1/10
35/35 [==============================] - 1s 5ms/step - loss: 1.7824
Epoch 2/10
35/35 [==============================] - 0s 5ms/step - loss: 0.6644
Epoch 3/10
35/35 [==============================] - 0s 5ms/step - loss: 0.6187
Epoch 4/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5774
Epoch 5/10
35/35 [==============================] - 0s 5ms/step - loss: 0.6338
Epoch 6/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5584
Epoch 7/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5377
Epoch 8/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5330
Epoch 9/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5117
Epoch 10/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5303

In [64]:
model.predict(df_test)

15/15 [==============================] - 0s 1ms/step

array([[4.819211 ],
       [4.8900247],
       [4.469543 ],
       [5.3875566],
       [4.854401 ],
       [4.8974795],
       [4.659749 ],
       [4.760671 ],
       [4.830211 ],
       [5.051224 ],
       [4.8712907],
       [4.7035165],
       [4.96478  ],
       [4.8795977],
       [4.7416286],
       [4.571278 ],
       [5.02301  ],
       [5.853211 ],
       [4.87345  ],
       [4.543527 ],
       [4.5273376],
       [4.546    ],
       [5.548798 ],
       [5.548798 ],
       [4.6261716],
       [4.5496984],
       [4.7654448],
       [4.627278 ],
       [4.8989854],
       [4.9780154],
       [4.9171224],
       [4.8334117],
       [4.850188 ],
       [5.245937 ],
       [5.8644323],
       [4.6534886],
       [4.436478 ],
       [4.7526507],
       [4.600658 ],
       [4.781673 ],
       [4.8483877],
       [4.516702 ],
       [4.9774747],
       [4.8921742],
       [5.9009438],
       [4.5608463],
       [4.710361 ],
       [4.762955 ],
       [6.878137 ],
       [4.85891  ],
       [5.2508373],
       [4.875956 ],
       [4.990436 ],
       [5.0097423],
       [5.38324  ],
       [4.6048326],
       [4.796907 ],
       [4.8557105],
       [4.864086 ],
       [4.675198 ],
       [4.6927214],
       [5.656815 ],
       [5.4250636],
       [5.8940163],
       [5.839661 ],
       [6.2319703],
       [4.72834  ],
       [4.743016 ],
       [4.8193517],
       [4.7025056],
       [4.8938394],
       [4.8767705],
       [5.041109 ],
       [5.7068434],
       [5.1671977],
       [4.837106 ],
       [4.458712 ],
       [4.57579  ],
       [4.291017 ],
       [4.8637586],
       [4.7283225],
       [5.1306424],
       [4.6990085],
       [5.253876 ],
       [5.6971116],
       [5.2398086],
       [5.2139983],
       [6.1296444],
       [5.0659575],
       [5.252464 ],
       [5.2742558],
       [4.7746806],
       [5.652035 ],
       [5.304524 ],
       [5.489928 ],
       [5.576035 ],
       [4.6624517],
       [4.529041 ],
       [4.699514 ],
       [5.2415285],
       [5.4155946],
       [5.012116 ],
       [4.890914 ],
       [5.6368494],
       [5.849564 ],
       [5.8685675],
       [5.8554535],
       [6.172955 ],
       [6.141266 ],
       [6.2279024],
       [5.574847 ],
       [5.0164127],
       [5.196909 ],
       [4.8986244],
       [5.56354  ],
       [5.5684333],
       [4.9120035],
       [4.7605968],
       [4.717839 ],
       [6.0596023],
       [5.2507324],
       [5.1773524],
       [5.7932906],
       [4.758872 ],
       [5.560203 ],
       [4.763933 ],
       [5.7801833],
       [4.973213 ],
       [5.207991 ],
       [4.4305663],
       [4.916484 ],
       [5.543285 ],
       [4.952056 ],
       [4.9208035],
       [5.3814635],
       [6.1276493],
       [5.0867305],
       [4.974852 ],
       [5.103316 ],
       [5.3851056],
       [6.8407397],
       [5.424586 ],
       [5.5528693],
       [5.3399296],
       [5.1875467],
       [5.0619426],
       [6.1405625],
       [5.282636 ],
       [5.045819 ],
       [6.74379  ],
       [5.552709 ],
       [5.35099  ],
       [5.462388 ],
       [4.864352 ],
       [6.090477 ],
       [5.977609 ],
       [6.0768776],
       [4.9602275],
       [5.6000743],
       [4.8338237],
       [5.5830317],
       [5.5211735],
       [5.596758 ],
       [4.649087 ],
       [5.514295 ],
       [5.230246 ],
       [5.6881175],
       [4.9235473],
       [4.9514394],
       [4.8706355],
       [5.260141 ],
       [4.9754963],
       [5.480115 ],
       [5.2464256],
       [5.242268 ],
       [5.2631574],
       [4.85732  ],
       [4.85732  ],
       [4.6206865],
       [4.714584 ],
       [4.4880085],
       [6.019684 ],
       [4.9853263],
       [5.842562 ],
       [5.121994 ],
       [5.375239 ],
       [4.4597354],
       [4.7918153],
       [4.402428 ],
       [4.9286656],
       [5.2235713],
       [4.942751 ],
       [4.9427514],
       [5.239426 ],
       [5.3753953],
       [5.437124 ],
       [5.4601645],
       [7.3850927],
       [4.3829393],
       [4.755058 ],
       [5.372607 ],
       [4.9155593],
       [4.8072653],
       [4.9692984],
       [4.9692984],
       [4.8214793],
       [4.5449204],
       [4.902162 ],
       [4.9839444],
       [5.2139025],
       [4.792974 ],
       [5.073586 ],
       [4.749278 ],
       [4.7760334],
       [5.3389106],
       [5.084683 ],
       [5.0005875],
       [4.8675914],
       [4.8675914],
       [5.5862265],
       [5.1729283],
       [5.4224243],
       [4.948803 ],
       [5.288117 ],
       [5.154919 ],
       [5.186882 ],
       [4.4481287],
       [4.815961 ],
       [4.778628 ],
       [4.778628 ],
       [4.885837 ],
       [4.406422 ],
       [4.923025 ],
       [4.946221 ],
       [5.2509103],
       [5.441441 ],
       [4.636334 ],
       [4.8129134],
       [4.8928146],
       [6.459624 ],
       [5.038653 ],
       [5.4030557],
       [5.753614 ],
       [6.114902 ],
       [4.5915093],
       [6.5700364],
       [4.7726912],
       [5.676427 ],
       [6.2745366],
       [5.577544 ],
       [5.429122 ],
       [5.8462367],
       [5.32241  ],
       [4.5172567],
       [5.4483676],
       [5.189171 ],
       [5.1891713],
       [5.727921 ],
       [4.8439107],
       [4.791984 ],
       [4.8335505],
       [5.723188 ],
       [6.089286 ],
       [5.2609253],
       [4.949472 ],
       [5.285269 ],
       [5.9632187],
       [4.961143 ],
       [5.999921 ],
       [5.9232993],
       [5.60402  ],
       [5.6693645],
       [5.2396617],
       [5.2396617],
       [6.227211 ],
       [4.7706466],
       [6.170926 ],
       [6.0945687],
       [6.338381 ],
       [5.6676316],
       [5.6538796],
       [5.3852143],
       [5.3852143],
       [4.4625287],
       [5.183017 ],
       [5.793655 ],
       [5.3707004],
       [5.3707004],
       [5.407903 ],
       [5.5315547],
       [4.869743 ],
       [4.736632 ],
       [5.209815 ],
       [4.736632 ],
       [5.7140603],
       [4.288304 ],
       [5.9427023],
       [6.0055923],
       [6.0055923],
       [5.2101836],
       [5.9723887],
       [5.094559 ],
       [6.136306 ],
       [6.585753 ],
       [5.8042645],
       [5.266718 ],
       [5.269916 ],
       [5.479699 ],
       [5.6845927],
       [6.0799475],
       [5.298849 ],
       [5.6682897],
       [5.5993514],
       [4.37399  ],
       [5.6194496],
       [4.3098063],
       [5.6194496],
       [6.0539155],
       [5.6305633],
       [5.5307055],
       [5.6212707],
       [4.976043 ],
       [5.473623 ],
       [5.210659 ],
       [5.611602 ],
       [6.1857176],
       [4.727852 ],
       [4.6254582],
       [6.255467 ],
       [5.9978647],
       [5.3684688],
       [5.9356875],
       [4.7804723],
       [5.4128203],
       [5.4489484],
       [5.5697694],
       [5.3989983],
       [5.615339 ],
       [5.4185967],
       [5.263886 ],
       [5.4789953],
       [6.8415294],
       [5.5859027],
       [5.802133 ],
       [5.6366963],
       [4.6631413],
       [5.2392316],
       [5.646019 ],
       [5.36934  ],
       [5.774315 ],
       [6.446611 ],
       [5.6069417],
       [5.352404 ],
       [6.1685634],
       [6.1923327],
       [5.5087323],
       [4.5798554],
       [4.9271264],
       [5.2805147],
       [5.4213967],
       [6.0300374],
       [5.8653417],
       [5.0466113],
       [5.3500476],
       [5.0466113],
       [4.6179013],
       [5.78877  ],
       [4.7267466],
       [4.770749 ],
       [5.516209 ],
       [5.27943  ],
       [4.6050916],
       [5.9248548],
       [4.51574  ],
       [6.477137 ],
       [5.802983 ],
       [4.9741354],
       [5.450293 ],
       [5.5289187],
       [5.3962846],
       [5.2741117],
       [5.303061 ],
       [5.659389 ],
       [4.860256 ],
       [4.982678 ],
       [5.1817937],
       [4.871121 ],
       [6.8037558],
       [5.3195243],
       [5.054686 ],
       [6.070475 ],
       [5.492107 ],
       [5.9880133],
       [4.9261646],
       [5.2530055],
       [4.787545 ],
       [5.554273 ],
       [4.2202024],
       [4.890968 ],
       [5.8307314],
       [5.527335 ],
       [5.153012 ],
       [4.61383  ],
       [4.5464587],
       [5.108229 ],
       [4.829085 ],
       [5.232054 ],
       [4.9237485],
       [4.9724717],
       [4.8243403],
       [5.489427 ],
       [5.0988646],
       [4.8770113],
       [4.628087 ],
       [4.6737285],
       [4.49629  ],
       [5.798859 ],
       [5.274839 ],
       [4.5666633],
       [4.8433824],
       [5.019598 ],
       [5.781689 ],
       [4.711503 ],
       [5.2552166],
       [5.705562 ],
       [5.7773995],
       [5.5750737],
       [4.827212 ],
       [5.590916 ],
       [5.382642 ],
       [5.909602 ],
       [4.8099294],
       [5.7827144],
       [5.048691 ],
       [4.598576 ],
       [6.1015687],
       [4.9636483],
       [5.233069 ],
       [5.3186746],
       [4.4180093],
       [5.464585 ],
       [5.4850583],
       [5.0859613],
       [5.0868835],
       [5.110697 ],
       [4.8387265],
       [5.078477 ],
       [4.8387265],
       [4.535294 ],
       [4.9770503],
       [5.083818 ],
       [6.6412587],
       [5.480248 ],
       [5.395655 ],
       [5.2934775],
       [5.343847 ],
       [4.933489 ],
       [4.375564 ],
       [5.644356 ],
       [5.4651713],
       [5.2123585],
       [4.811974 ],
       [4.774766 ],
       [5.1466756],
       [5.3624063],
       [4.897655 ],
       [4.9392815],
       [5.022556 ],
       [5.2358327],
       [4.9003177],
       [5.7917275],
       [6.2624774],
       [5.2592287],
       [5.713179 ],
       [5.7073426],
       [5.442097 ],
       [5.1186366],
       [5.3376307],
       [5.9811177],
       [5.253538 ]], dtype=float32)

In [65]:
# quality : 0~10
# 범주형 : 원핫인코딩

In [67]:
from sklearn.preprocessing import OneHotEncoder

In [71]:
ohe = OneHotEncoder()

In [72]:
y_test_ohe = ohe.fit_transform([y_test])

In [74]:
pd.get_dummies(y_test)
pd.get_dummies(red_wind['quality']) # 3~ 8
# 6개 분류기 사용 -> softmax확률

      3  4  5  6  7  8
0     0  0  1  0  0  0
1     0  0  1  0  0  0
2     0  0  1  0  0  0
3     0  0  0  1  0  0
4     0  0  1  0  0  0
...  .. .. .. .. .. ..
1594  0  0  1  0  0  0
1595  0  0  0  1  0  0
1596  0  0  0  1  0  0
1597  0  0  1  0  0  0
1598  0  0  0  1  0  0

[1599 rows x 6 columns]

In [75]:
# 당뇨병 예측
df = pd.read_csv('diabetes.csv')
df
# Outcome 이진법 ->  sigmoid 사용하면 될 듯

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [76]:
x = df.iloc[:,0:8]
y = df.iloc[:,8]

In [77]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [78]:
model = Sequential()

In [79]:
model.add(Dense(12,input_dim=8,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [80]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 12)                108

 dense_17 (Dense)            (None, 8)                 104

 dense_18 (Dense)            (None, 1)                 9

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [81]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [82]:
model.fit(x,y,epochs=10,batch_size=5)

Epoch 1/10
154/154 [==============================] - 1s 1ms/step - loss: 10.1330 - accuracy: 0.4818
Epoch 2/10
154/154 [==============================] - 0s 1ms/step - loss: 1.2615 - accuracy: 0.5807
Epoch 3/10
154/154 [==============================] - 0s 1ms/step - loss: 1.0077 - accuracy: 0.5990
Epoch 4/10
154/154 [==============================] - 0s 1ms/step - loss: 0.9094 - accuracy: 0.5990
Epoch 5/10
154/154 [==============================] - 0s 1ms/step - loss: 0.8614 - accuracy: 0.6055
Epoch 6/10
154/154 [==============================] - 0s 1ms/step - loss: 0.8271 - accuracy: 0.6523
Epoch 7/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7437 - accuracy: 0.6471
Epoch 8/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7300 - accuracy: 0.6484
Epoch 9/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7253 - accuracy: 0.6706
Epoch 10/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6564 - accuracy: 0.6927

In [83]:
df = pd.read_csv('iris3.csv')
df
# 다중 분류 -> softmax

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [84]:
X = df.iloc[:,0:4]
y = df.iloc[:,4]

In [86]:
# 원핫 인코딩
y = pd.get_dummies(y)
y

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [87]:
model = Sequential()

In [88]:
model.add(Dense(16,input_dim=4,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(3,activation='softmax'))

In [89]:
model.compile(loss = 'categorical_crossentropy',optimizer = 'adam',metrics = ['accuracy'])

In [91]:
model.fit(X,y,epochs=40,batch_size=5) # 98% 나쁘지않은 정확도

Epoch 1/40
30/30 [==============================] - 1s 1ms/step - loss: 1.1628 - accuracy: 0.5733
Epoch 2/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8945 - accuracy: 0.4867
Epoch 3/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8436 - accuracy: 0.4933
Epoch 4/40
30/30 [==============================] - 0s 997us/step - loss: 0.8109 - accuracy: 0.4600
Epoch 5/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7779 - accuracy: 0.5800
Epoch 6/40
30/30 [==============================] - 0s 963us/step - loss: 0.7320 - accuracy: 0.4933
Epoch 7/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7020 - accuracy: 0.5133
Epoch 8/40
30/30 [==============================] - 0s 997us/step - loss: 0.6714 - accuracy: 0.6200
Epoch 9/40
30/30 [==============================] - 0s 963us/step - loss: 0.6451 - accuracy: 0.6267
Epoch 10/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6198 - accuracy: 0.5733
Epoch 11/40
30/30 [==============================] - 0s 997us/step - loss: 0.5920 - accuracy: 0.6867
Epoch 12/40
30/30 [==============================] - 0s 929us/step - loss: 0.5725 - accuracy: 0.6733
Epoch 13/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5535 - accuracy: 0.6933
Epoch 14/40
30/30 [==============================] - 0s 997us/step - loss: 0.5368 - accuracy: 0.6867
Epoch 15/40
30/30 [==============================] - 0s 997us/step - loss: 0.5214 - accuracy: 0.7667
Epoch 16/40
30/30 [==============================] - 0s 997us/step - loss: 0.5025 - accuracy: 0.8333
Epoch 17/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4856 - accuracy: 0.8400
Epoch 18/40
30/30 [==============================] - 0s 963us/step - loss: 0.4716 - accuracy: 0.8733
Epoch 19/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4560 - accuracy: 0.8933
Epoch 20/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4405 - accuracy: 0.9067
Epoch 21/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4270 - accuracy: 0.9333
Epoch 22/40
30/30 [==============================] - 0s 929us/step - loss: 0.4139 - accuracy: 0.9067
Epoch 23/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3986 - accuracy: 0.9533
Epoch 24/40
30/30 [==============================] - 0s 997us/step - loss: 0.3856 - accuracy: 0.9333
Epoch 25/40
30/30 [==============================] - 0s 963us/step - loss: 0.3730 - accuracy: 0.9467
Epoch 26/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3581 - accuracy: 0.9533
Epoch 27/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.9667
Epoch 28/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3287 - accuracy: 0.9533
Epoch 29/40
30/30 [==============================] - 0s 962us/step - loss: 0.3194 - accuracy: 0.9600
Epoch 30/40
30/30 [==============================] - 0s 997us/step - loss: 0.3053 - accuracy: 0.9600
Epoch 31/40
30/30 [==============================] - 0s 997us/step - loss: 0.2924 - accuracy: 0.9600
Epoch 32/40
30/30 [==============================] - 0s 997us/step - loss: 0.2838 - accuracy: 0.9600
Epoch 33/40
30/30 [==============================] - 0s 997us/step - loss: 0.2726 - accuracy: 0.9667
Epoch 34/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2631 - accuracy: 0.9600
Epoch 35/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2495 - accuracy: 0.9600
Epoch 36/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2404 - accuracy: 0.9667
Epoch 37/40
30/30 [==============================] - 0s 963us/step - loss: 0.2335 - accuracy: 0.9600
Epoch 38/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2267 - accuracy: 0.9800
Epoch 39/40
30/30 [==============================] - 0s 929us/step - loss: 0.2180 - accuracy: 0.9600
Epoch 40/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2062 - accuracy: 0.9800

In [93]:
import numpy as np

In [94]:
model.predict(np.array([[5.9,3.0,5.1,1.8]]))

1/1 [==============================] - 0s 41ms/step

array([[0.00118526, 0.3782692 , 0.62054557]], dtype=float32)